#java specific
*.class
*.jar
*.war

#log specific
*.log
*.tmp`
*.bak`

#Mac
**/.DS_Store

#Windows
Thumbs.db


### Gradle ###
.gradle
**/build/
**/logs/
**/out/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr

#Locale configuration files
*.local
*.env

#dependency files
node_modules/
lib/